@import "tailwindcss";

:root {
  --background: #f7f7f2;
  --foreground: #191919;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
